.navbar
{
	width:100%;
	height:13vh;
	background-color:#fff;
	position: fixed;
}

.navbarContent
{
	width:80;
	margin:20px 400px;
	display:flex;
	flex-direction: column;
}

.titleAndForm
{
	display:flex;
	justify-content: space-between;
}

.WebSitetitle
{
	font-size:2.5rem;
	font-family: 'Belanosima', sans-serif;
    text-transform: uppercase;
    outline: none;
	cursor: pointer;
}

.optionsDiv
{
	width:100%;
}

.AllOptions
{
	display:flex;
	justify-content: space-between;
	
}



.firstOptionsSection
{
	display:flex;
	padding:5px 0px;
}

.secondOptionsSection
{
	display:flex;
	padding:5px 0px;
}

.lastOption
{
	padding-right:0px !important;
}

.option
{
	padding-right:40px;
	font-family: 'Roboto Condensed',Arial,sans-serif;
	color: #000;
    position: relative;
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    outline: none;
    letter-spacing: .5px;
	cursor: pointer;
}

.search-form
{
	width: 100%;
}


.search-form_DIV
{
	position: relative;
    min-width: 33%;
    height: 2.8rem;
    outline: none;
    font-family: Roboto Condensed,Arial,sans-serif;
    font-size: 1.5rem;
    color: #000;
    opacity: 1;
    z-index: 1;
    border: none;
    border-radius: 0.5rem;
    background-color: #f7f7f7;
}
.search-form_input {
    width: 82%;
	height: 2.3rem;
	border: none;
	background-color: #f7f7f7;
	outline: none;
	padding:22px 0px 15px 20px;
	font-size:0.94rem;	
}

.search-form_button
{
	position: relative;
	top:0%;
	width:14%;
	height: 2.3rem;
	border:none;
	background-color: #f7f7f7;
	font-size:1.2rem;
	font-weight: bolder;
	font-family: Roboto Condensed,Arial,sans-serif;
    outline: none;
	cursor: pointer;

}

.fa-magnifying-glass
{
	font-size:0px;
}




